RO 100 "[% stats %]"

TR 0

[% INSERT $qs %]

TR 2

[%- DEFAULT tb='350' %]
[%- FOREACH state IN ['2','3','4'] %][% FOREACH phone IN monophones %]
TB [% tb %] "ST_[% phone %]_[% state %]_"  {("[% phone %]","*-[% phone %]+*","[% phone %]+*","*-[% phone %]").state[[% state %]]}
[%- END %][% END %]

TR 1

AU "[% fulllist %]"
CO "[% tiedlist %]"
